.list {
	background-color: #ebecf0;
	border-radius: 3px;
}

.list ul {
	list-style: none;
	padding: 0;
}

.listTitle {
	font-weight: bold;
	display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.listTitle * {
	margin: 2px;
}

.addCardButton {
	height: 20px;
	line-height: 20px;
	padding: 0.5em;
	margin: 0.5em 0 0.5em 0;
}

.addCardButton a {
	color: #5e6c84;
	text-decoration: none;
}

.addCardButton a:hover {
	color: #172b4d;
}

.addCardButton:hover {
	background-color: rgba(9,30,66,.08);
	color: #172b4d;
}

